<!DOCTYPE html>
<html>
<head>
	<title>Solution for module 2 by winterroll!</title>
	<script type="text/javascript" src = "angular.min.js"></script>
	<script type="text/javascript" src = "app.js"></script>
	
</head>
<body ng-app = "ShoppingListCheckOff">

<div ng-controller = "ToBuyController as toBuyList">Things to buy:<br>
	<ol>
		<li ng-repeat = "item in toBuyList.itemList">
			Buy {{item.itemQuantity}} of {{item.itemName}}
			<button ng-click="toBuyList.addToBrought($index)">Bought!</button>
		</li>
	</ol>
	<div ng-if="toBuyList.itemList.length == 0" >Every thing is brought! Good job!</div><br>
</div>

<div ng-controller = "AlreadyBoughtController as broughtList" >Things already brought:<br>
<ol>
	<li ng-repeat = "item in broughtList.itemList">
		{{item.itemQuantity}} of {{item.itemName}}
	</li>

</ol>

</div>


</body>
</html>